typer==0.3.2
colorama==0.4.4
requests==2.31.0
transformers==4.40.0
torch==2.2.2
pandas==2.2.2
scikit-learn==1.4.2
datasets==2.19.0
evaluate==0.4.1
accelerate==0.29.3
pyarrow==16.0.0
pytest==8.1.1
pytest-cov==5.0.0
